.modal-heading {
    padding-bottom: 20px;
}

.inactive #endDate {
    background-color: #E0E0E0;
    color: #616161;
}

// Overwrite styles of disabled input 
.disabled {
    opacity: 1 !important;
}

.field.disabled>label {
    opacity: 1 !important;
}